* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #0d1117;

    color: #e6edf3;

    font-family: 'Inter', sans-serif;

    line-height: 1.7;
}

.container {

    max-width: 900px;

    margin: 0 auto;

    padding: 80px 24px;
}

/* HEADER */

header {

    margin-bottom: 80px;
}

.top-row {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}

h1 {

    font-size: 42px;

    font-weight: 700;
}

.links {

    display: flex;

    gap: 24px;
}

.links a {

    color: #8b949e;

    text-decoration: none;

    transition: 0.2s;
}

.links a:hover {

    color: white;
}

.intro {

    max-width: 700px;

    color: #9da7b3;

    font-size: 18px;
}

/* SECTIONS */

section {

    margin-bottom: 70px;
}

h2 {

    font-size: 20px;

    margin-bottom: 24px;

    color: white;
}

section p {

    color: #9da7b3;
}

/* EXPERIENCE ITEMS */

.item {

    padding: 24px 0;

    border-top: 1px solid #21262d;
}

.item:last-child {

    border-bottom: 1px solid #21262d;
}

.item-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 10px;
}

.item-header h3 {

    font-size: 18px;

    font-weight: 600;
}

.item-header span {

    color: #7d8590;

    font-size: 14px;
}

/* TAGS */

.tags {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;
}

.tags span {

    border: 1px solid #30363d;

    padding: 8px 14px;

    border-radius: 999px;

    color: #c9d1d9;

    font-size: 14px;
}

/* FOOTER */

footer {

    padding-top: 30px;

    border-top: 1px solid #21262d;
}

footer p {

    color: #7d8590;
}

/* MOBILE */

@media(max-width: 700px) {

    .top-row {

        flex-direction: column;

        align-items: flex-start;

        gap: 20px;
    }

    .item-header {

        flex-direction: column;

        align-items: flex-start;

        gap: 6px;
    }

    h1 {

        font-size: 34px;
    }

}